.mainCont {
  height: 306px;
}

.navButton {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.navButton button {
  padding: 25px;
  border: none;
  border-radius: 0 0 0 8px;
  background-color: #000c66;
}

.time {
  font-size: 1.4rem;
}
